<h1>Welcome to ghostpost</h1>
<a href="{% url 'homepage' %}"><button>Home</button></a>
<a href="{% url 'boast_list' %}"><button>boasts only</button></a>
<a href="{% url 'roast_list' %}"><button>roasts only</button></a>
<a href="{% url 'votesort' %}"><button>sort by vote</button></a>
<a href="{% url 'add_post' %}"><button>add a boast or roast</button></a>
{% if latest_post_list %}
<div>
  <h1>Boasts and Roasts</h1>
  {% for post in latest_post_list %}
  <div>
    <ul>
      <li>
        {{ post.post_text }}
      </li>
      <li>
        <em>{{post.pub_date}}</em>
      </li>
      <li>
        Boast?: {{post.boast}}
      </li>
      <li>
        Votes: {{post.votes}}
      </li>
    </ul>
    <form name="upvote" method="post" action="{% url 'upvote' post.id %}">
      {% csrf_token %}
      <input type="submit" value="Upvote" />
    </form>
    <form name="downvote" method="post" action="{% url 'downvote' post.id %}">
      {% csrf_token %}
      <input type="submit" value="Downvote" />
    </form>
    <hr />
  </div>
  {% endfor %}
</div>
{% elif boast_post_list %}
<div>
  <h1>Boasts</h1>
  {% for post in boast_post_list %}
  <div>
    <ul>
      <li>
        {{ post.post_text }}
      </li>
      <li>
        <em>{{post.pub_date}}</em>
      </li>
      <li>
        Votes: {{post.votes}}
      </li>
    </ul>
    <form name="upvote" method="post" action="{% url 'upvote' post.id %}">
      {% csrf_token %}
      <input type="submit" value="Upvote" />
    </form>
    <form name="downvote" method="post" action="{% url 'downvote' post.id %}">
      {% csrf_token %}
      <input type="submit" value="Downvote" />
    </form>
    <hr />
  </div>
  {% endfor %}
</div>
{% elif roast_post_list %}
<div>
  <h1>Roasts</h1>
  {% for post in roast_post_list %}
  <div>
    <ul>
      <li>
        {{ post.post_text }}
      </li>
      <li>
        <em>{{post.pub_date}}</em>
      </li>
      <li>
        Votes: {{post.votes}}
      </li>
    </ul>
    <form name="upvote" method="post" action="{% url 'upvote' post.id %}">
      {% csrf_token %}
      <input type="submit" value="Upvote" />
    </form>
    <form name="downvote" method="post" action="{% url 'downvote' post.id %}">
      {% csrf_token %}
      <input type="submit" value="Downvote" />
    </form>
    <hr />
  </div>
  {% endfor %}
</div>
{% else %}
<p>No posts are available.</p>
{% endif %}
